@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global dark theme */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000 !important;
  color: #fff;
  font-family: system-ui, sans-serif;
}
